## 쯈u칠 es el K-means?

Es uno de los algoritmos de agrupamiento **(clustering)** m치s conocidos y utilizados en el campo del aprendizaje autom치tico **no supervisado**. Su objetivo principal es organizar un conjunto de datos sin etiquetas en K grupos distintos. La idea central es que los puntos de datos dentro de un mismo grupo sean lo m치s similares posible entre s칤, mientras que los puntos de diferentes grupos sean lo m치s dis칤miles posible.

## 쯇ara qu칠 se usa?

Se usa en una gran variedad de industrias para resolver porblemas que no tienen una respuesta **"Correcta"** predefinida. Algunas de las aplicaciones m치s comunes son:

**Segmentaci칩n de clientes:** Para dividir una base de clientes en grupos con comportamientos de compra o caracter칤sticas demogr치ficas similares.

**An치lisis de im치genes:** En la compresi칩n de im치genes, el K-means puede reducir la cantidad de colores en una imagen, agrupando colores similares.

**An치lisis de datos geogr치ficos:** Para identificar 치reas con alta concentraci칩n de ciertos tipos de datos, como la densidad de tiendas o la propagaci칩n de enfermedades.

## **Cluster (Grupo):**
 Es el resultado final del algoritmo. Un cluster es un conjunto de puntos de datos que han sido agrupados por su similitud.

## **Centroide**
Es el "coraz칩n" de un cluster. Es un punto imaginario que representa el centro geom칠trico o el promedio de todos los puntos de datos dentro de ese cluster. El algoritmo lo usa para determinar la pertenencia de los puntos a los grupos.

## **K**  
Es un valor que se le debe indicar al algoritmo. Representa el n칰mero de clusters que se desea crear. La selecci칩n de un valor adecuado para K es uno de los pasos m치s importantes para obtener un resultado significativo.


# Contexto del Problema: Conociendo los Datos 游냖

#### **Descripci칩n del Dataset**

El conjunto de datos de ping칲inos de Palmer Archipelago contiene informaci칩n sobre tres especies de ping칲inos: Adelia, Chinstrap y Gentoo. Incluye medidas corporales como la longitud del pico, la profundidad del pico, la longitud de las aletas y la masa corporal, as칤 como el sexo y la isla de origen. Este dataset es perfecto para ver c칩mo un algoritmo de agrupamiento puede encontrar patrones y separar las diferentes especies sin haber sido "entrenado" con las etiquetas de especie.


### Variables del Dataset 游늵

| Variable | Descripci칩n |
|---|---|
| **species** | Especie del ping칲ino (Adelie, Chinstrap, Gentoo). |
| **island** | Isla del archipi칠lago Palmer donde se encontr칩 el ping칲ino. |
| **bill_length_mm** | Longitud del pico (culmen) en mil칤metros. |
| **bill_depth_mm** | Profundidad del pico en mil칤metros. |
| **flipper_length_mm**| Longitud de la aleta en mil칤metros. |
| **body_mass_g** | Masa corporal del ping칲ino en gramos. |
| **sex** | Sexo del ping칲ino (Male, Female). |

In [2]:
import pandas as pd
import seaborn as sns

# Cargar el dataset de los ping칲inos
penguins = sns.load_dataset("penguins")

# Mostrar una vista r치pida de las primeras filas y los tipos de datos
display(penguins.head())
print("\nInformaci칩n del DataFrame:")
penguins.info()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female

Informaci칩n del DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            344 non-null    object
 1   island             344 non-null    object
 2   bill_length_mm     342 non-null    float64
 3   bill_depth_mm      342 non-null    float64
 4   flipper_length_mm  342 non-null    float64
 5   body_mass_g        342 non-null    float64
 6   sex                333 non-null    object
dtypes: float64(4), object(3)
memory usage: 18.9+ KB